{% extends 'base.html' %}
{% block title %}{{plant_list.name}} | Plant List | Tendril{% endblock %}

{% block content %}
<p class="text-info breadcrumbs"><a class="text-info" href="/{{username}}/garden">{{username}}</a> > Plant Lists >
    {{plant_list.name}} </p>
<h2><span class="page-title">{{plant_list.name}}</span> <i class="fab fa-pagelines" style="color: #bae357;"></i></h2>
{% if plant_list.description %}
<p>{{plant_list.description}}</p>
{% endif %}
{% if growing_area_name %}
<h4 class="mt-2">Planting Area</h4>
<p>{{growing_area_name}}</p>
{% endif %}

<h4 class="mt-2">Plants</h4>
<ul>
    {% for plant in plant_list.plants %}
    <!-- TODO: Link to plant page -->
    <!-- TODO: Show image of plant -->
    <!-- TODO: Re-do as cards -->
    <li>{{plant.scientific_name}}</li>
    {% endfor %}
</ul>


{% endblock %}