.search.img-thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

body {
  background-color: #f6fbea;
  font-family: "Montserrat", "Gill Sans", "Gill Sans MT", "Trebuchet MS",
    sans-serif;
}

hr {
  border-color: #bae357;
}

#site-logo {
  font-family: "Righteous", "Gill Sans", "Gill Sans MT", "Trebuchet MS",
    sans-serif;
  -webkit-text-stroke: 1px white;
  color: #368e50;
}

nav {
  background-color: #bae357;
}

.page-title {
  font-weight: 400;
}

#garden-owner {
  color: #368e50;
}

.growing-area-card,
.plant-list-card {
  border: 1px solid #bae357 !important;
  background-color: rgba(255, 255, 255, 0.6);
}

.growing-area-card {
  width: 24rem;
}

.plant-list-card {
  width: 18rem;
}

.search-result-header {
  font-weight: 200;
}

.search-result-header em {
  font-weight: 400;
}

.card,
.img-thumbnail {
  border: none;
}

.img-thumbnail:hover {
  border: 2px solid #bae357;
}

.card-title {
  color: black;
}

.card-title.search-results:hover {
  text-decoration: none;
  color: #368e50;
  font-weight: 600;
}

.card-subtitle {
  margin-top: 0.5em;
}

.scientific-name {
  font-style: italic;
}
