#site-logo {
  font-family: "Righteous", sans-serif;
  -webkit-text-stroke: 1px white;
  color: #368e50;
}

.search.img-thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

body {
  background-color: #f6fbea;
}

nav {
  background-color: #bae357;
}

.search-result-header {
  font-weight: 200;
}

.search-result-header em {
  font-weight: 400;
}

.card,
.img-thumbnail {
  border: none;
}

.img-thumbnail:hover {
  border: 2px solid #bae357;
}

.card-title {
  color: black;
}

.card-title.search-results:hover {
  text-decoration: none;
  color: #368e50;
  font-weight: 600;
}

.card-subtitle {
  margin-top: 0.5em;
}

.scientific-name {
  font-style: italic;
}
