{% extends 'base.html' %}
{% block title %}{{plant_details.scientific_name}} | Tendril{% endblock %}

{% block content %}
<img src="{{plant_details.image_url}}" alt="Photo of {{plant_details.common_name}}"
    style="width: 50%; float: left; margin-right: 1em; margin-bottom: 1em;">
<h1>{{plant_details.common_name}}</h1>
<h3 class="text-muted">{{plant_details.scientific_name}}</h3>

<div>
    <h4>Common Names</h4>
    {% for name in plant_details.common_names.eng%}
    <span
        style="background-color: #bae357; line-height: 1.5em; padding: 0.5em; margin-right: 1em; margin-bottom: 1em; border-radius: 6px;">{{name}}</span>
    {% endfor %}
</div>

{% endblock %}