{% extends 'base.html' %}
{% block title %}{{plant_details.data.scientific_name}} | Tendril{% endblock %}

{% block content %}
<!-- TODO: breadcrumbs or "back to search results" -->
<header class="mb-3">
    {% if plant_details.data.image_url %}
    <img src="{{plant_details.data.image_url}}" alt="Photo of {{plant_details.data.common_name}}"
        style="width: 500px; float: left; margin-right: 1em; margin-bottom: 1em;">
    {% endif %}

    <h1 class="text-info page-title">{{plant_details.data.common_name}}</h1>
    <h3 class="text-muted scientific-name">{{plant_details.data.scientific_name}}
    </h3>
</header>

<section>
    <div class="mb-3 mt-3">
        <h3>Family</h3>
        <p><span class="scientific-name">{{ plant_details.data.family
                }}</span>
            ({{ plant_details.data.family_common_name }})</p>
    </div>
    <div class="mb-3 mt-3">
        <h3>Common Names</h3>
        <p>
            {{ plant_details.data.common_names.eng|join(", ") }}
        </p>
    </div>
</section>

{% if g.user %}
<section class="float-left mb-3 mt-3 mr-3 p-3 rounded" id="add-plant-form">
    <h3 class="">Add to a Plant List</h3>
    <form class="form" method="POST" action="/{{g.user.username}}/plant-list/add-plant">
        <!-- TODO: customize form for this page; get rid of unnecessary label -->
        <!-- Pass plant information to form -->
        {% include "base-form.html" %}
        <button class="btn btn-info btn-small">Add</button>
    </form>
</section>
{% endif %}

<section class="mb-3 mt-3 float-left">
    <h3>External Sources</h3>
    <ul style="list-style-type: none; padding: 0;">
        {% for source in plant_details.data.sources %}
        <li>
            <a target="_blank" href="{{source.url}}">{{source.name}}</a>
        </li>
        {% endfor%}
    </ul>
</section>





{% endblock %}