{% extends 'base.html' %}
{% block title %}Garden | Tendril{% endblock %}

{% block content %}
<h2>Garden <i class="fab fa-pagelines" style="color: #bae357;"></i> for <em style="color: #368e50;">{{username}}</em>
</h2>
<hr>
<section class="float-left mr-6">
    <div>
        <h3 class="mr-3 float-left">Planting Areas</h3>{% if username == g.user.username %}<a
            href="/{{g.user.username}}/new-growing-area" class="btn btn-info btn-sm mb-2 float-left">+ Add
            New</a>{% endif %}
    </div>
    <div style="clear: both;">
        {% for area in growing_areas %}
        <div class="card float-left mr-3 mb-3"
            style="width: 24rem; border: 1px solid  #bae357; background-color: rgba(255,255,255, 0.6);">
            <div class="p-3">
                <h4 class="card-title m-0 p-0">{{area.name}}
                </h4>
                <ul class="card-body mt-0">
                    <li><strong>Description: </strong>{{area.description}}</li>
                    <li><strong>Light Level: </strong>{{area.light_level}}</li>
                    <li><strong>Soil Texture: </strong>{{area.soil_texture}}</li>
                    <li><strong>Soil Moisture: </strong>{{area.soil_moisture}}</li>
                    <li><strong>Soil Ph: </strong>{{area.soil_ph}}</li>
                    <li><strong>Notes: </strong>{{area.notes}}</li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<hr style="clear: both;">
<section>
    <div>
        <h3 class="float-left mr-3">Plant Lists</h3>{% if username == g.user.username %}<a
            href="/{{g.user.username}}/new-plant-list" class="btn btn-info btn-sm mb-2 float-left">+ Add
            New</a>{% endif %}
    </div>
</section>

{% endblock %}